.about-container{
    background-image: url("./wallpaper6.jpg");
    width: 90vw;
    height:90vh;
    margin:5vh 5vw;
    color:black;
    border:3px solid black;
}

.text-block{
    background:black;
    color:white;
    opacity:0.7;
    position:absolute;
    top:19vh;
    left:10vw;
    height:80vh;
    width:80vw;
    padding: 2vw;
    font-size:1.5vw;
    font-family:"Antic Slab",cursive;


}