.about-container{
    background-image: url("./aboutbg2.jpg");
    width: 96vw;
    height:92vh;
    margin:3vh 2vw;
    background-size:"";
    background-size: cover;
    padding: 2vh 2vw;
}


.text-block{
    height: 80vh;
    font-family: 'Open Sans', sans-serif;
    padding: 4vh 2vw;
    font-weight: bold;
    color:rgb(36, 34, 34);
    font-size: 2vw;
    border-radius: 45px;
    border: none;
    background-color: white;   
    margin-top: 3vh;
    box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.9);
    opacity: 0.6;
}